./.git/objects/d9/ca0a35f5a95efea9d563552a9cc59811b70e13
./Data/afval_weging.csv
./Data/Loopafstanden/afstand_glas.csv
./Data/Loopafstanden/afstand_papier.csv
./Data/Loopafstanden/afstand_plastic.csv
./Data/Loopafstanden/afstand_textiel.csv
Data/afval_weging.csv
Data/Loopafstanden/afstand_glas.csv
Data/Loopafstanden/afstand_papier.csv
Data/Loopafstanden/afstand_plastic.csv
Data/Loopafstanden/afstand_textiel.csv
Data/containers.csv
Data/Loopafstanden/afstand_rest.csv
